@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);

@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap);

*{
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Quicksand, sans-serif, Montserrat, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html{
  scroll-behavior: smooth;
}
::selection{
  background: #1f91f5c5;
  color: white;
}
:root{
    --borderWidth: 3px;
    --height-header: 70px;
    --width-logo: 55px;

    --padding-nav-a: 1px;

    --height-welcome-page: 737px;

    --height-photo-data: 330px;
    --width-photo-data: 250px;
    --top-photo-data: 130px;
    --padding-photo-data: 10px 20px;
    --fontsize-h1: 1.5em;
    --fontsize-job: 1.2em;
    --photo-cesar: 150px;

    
    --height-proyects: 737px;
    --height-proyect-sing: 400px;
    

    --top-skills: 55.7px;
    --height-skills: 737px;
    
    --height-circle-proyect: 500px;
    --width-circle-proyect: 500px;

    --width-boxys: 140px;
    --height-boxys: 140px;

    --top-contact: 85px;
    --height-contact: 707px;
    --gap-contact: 100px;

    --height-twoboxs: 70%;
    --width-contact-box: 380px;
    --width-icono-redes: 100px;
    --iconos-redes-position: 40px;

}
img{
    max-width: 100%;                             /* Para todas las imágenes */
    height: auto;
}

body{
    /*background-color: #f5f6f7;*/
    background-color: #F4F6FB;
    width: 100%;
    overflow-x: hidden;
    cursor: url(../images/cursorGorrion.png),default;
}
body::-webkit-scrollbar{
  width: 0px;
  backdrop-filter: blur(0.1px);
  background-color: rgba(244,246,251,.01);
}
body::-webkit-scrollbar-thumb{
  background-color: #358cd8c5;
  border-radius: 10px;
}

.cursorCirculo{
  position: fixed;
  z-index: 10000;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  backdrop-filter: blur(0.0001px);
  background-color: black;
  border: none;
  transition: .2s;
  transform: translate(-50%,-50%) translateZ(0);
  pointer-events: none;
}
.oculto{
  opacity: 0;
}

#Welcome-page{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    border: none;
    width: 100%;                                        /* Caja Pagina Bienvenida */
    height: var(--height-welcome-page);
    
    border-radius: 50% 50% 50% 50% / 0% 0% 100% 100%;
    background-color: #358cd8c5;
}
header{
    z-index: 100;
    position: fixed;
    width: 100%;
    height: var(--height-header);
    border: 1px solid rgb(255, 255, 255,.1);             /* Caja Header */
    display: flex;
    flex-direction: row;
    
    align-items: center;
   
    border-radius: 0% 0% 25% 25%;
    box-shadow: rgba(104, 104, 104, 0.2) 0px 4px 7px;
    background-color: rgb(255, 255, 255,.01);
    backdrop-filter: blur(0.1px);
    
    visibility: visible;
    top: 0;
    left: 0;
}
header #logo{   
    position: relative;
    left: 10vw;                                          /* Caja Logo Img*/
    background-color: rgb(85, 222, 247);
    width: var(--width-logo);
    box-shadow: rgba(46, 195, 240, 0.4) -2.5px 2.5px, rgba(100, 210, 253, 0.3) -5px 5px, rgba(96, 212, 241, 0.2) -7.5px 7.5px, rgba(94, 216, 247, 0.1) -10px 10px, rgba(75, 225, 245, 0.05) -12.5px 12.5px;
    border-radius: 50% 20% 80% 20%;
    animation: move-icon 2s linear infinite;
    transition: .8s;
    cursor: url(../images/cursorGorrion.png),
    pointer;
}
@keyframes move-icon{
    0%, 100%{
        top: 0;
    }
    50%{
        top: 5px;
    }
}
header #logo:hover{
    transform: rotate(-5deg);
    transition: .8s;
    cursor: url(../images/cursorGorrion.png),
    pointer;
}

.panel-btn{
  position: absolute;
  z-index: 150;
  top: 1vh;
  display: none;
  right: -100vw;
  border-radius: 50%;
  padding: 0;
  justify-content: center;
  align-items: center;
  
}

header .nav{
    position: absolute;
    right: 5vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 70px;                                         /* Caja Nav */
    padding-left: 1vw; 
    padding-right: 1vw;   
      
}
header .nav ul{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 88.5%;
}
header .nav ul li{
    list-style: none;
}
header .nav a{
    text-decoration: none;
    letter-spacing: .03em;
    padding: var(--padding-nav-a) .5vw;                            /* Enlaces del Nav */
    color: rgba(0, 0, 0, 0.781);   
    font-size: 0.9em;
    font-family: Montserrat, Quicksand, sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: url(../images/cursorGorrion.png),
    pointer;
    transition: .2s;
}
header .nav a:hover{
    color: #000;
    cursor: url(../images/cursorGorrion.png),
    pointer;
    transition: .2s;
    font-size: 1em;
}



#Welcome-page #Photo_and_data{
    position: relative;
    
    top: var(--top-photo-data);
    width: var(--width-photo-data);
    
    height: var(--height-photo-data);
    
    padding: var(--padding-photo-data);
    z-index: 1;
    display: flex;
    flex-direction: column;   
                                                                    /* Caja Foto y Datos */
    align-items: center;
    justify-content: center;
    
    align-self: center;
    border: 1px solid rgb(255, 255, 255,.7);
    border-radius: 15px;
    
    background-color: rgb(255, 255, 255,.01);
    backdrop-filter: blur(3px);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    
    /*background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);*/
    background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
 background-blend-mode: screen;
}

#Welcome-page #Photo_and_data h1{
    
    
    font-size: var(--fontsize-h1);
    color: #131313;  
    text-align: center;
    letter-spacing: .02em;
}
#Welcome-page #Photo_and_data p{
    
    font-size: var(--fontsize-job);
    color: rgb(27, 27, 27); 
    text-align: justify;
    letter-spacing: .02em;
}
#Welcome-page #Photo_and_data img{
    width: var(--photo-cesar);                                           /* Foto de Cesar */
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255,.01);
    /*box-shadow: rgba(0, 0, 0, 0.54) 0px 3px 8px;*/
   
    
}

.section-proyects{
  width: 100%;
  height: var(--height-proyects);
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
}
.section-proyects #h3-proyects-title{
  letter-spacing: .04em;
  margin-bottom: -45px;
}
#h3-proyects-title::after{
  content: "";
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  bottom: 20px;
  text-align: center;
  width: 45%;
  height: 2px;
  border: none;
  background-color: #358cd8c5;
}
.section-proyects #proyect{
  width: 800px;
  height: var(--height-proyect-sing);
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  border: none;
 
}
.section-proyects #proyect #proyect-image{
  width: 50%;
  height: 100%;
  
  border: none;
  border-radius: 20px 0px 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  background-color: #358cd8a6;
}
#proyect-image img{
  width: 200px;
  border-radius: 20px;
  
}

#proyect-description{
  width: 50%;
  height: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  background: white;
  align-items: center;
  border-radius: 0px 20px 20px 0px;
  padding: 0px 25px;
}
#proyect-description h3{
 position: static;
  font-size: 1.6em;
  letter-spacing: .02em;
  line-height: 130%;
  text-align: center;
}
#proyect-description p{
  position: static;
  color: rgb(31, 31, 31);
  font-size: 1.2em;
  line-height: 130%;
  text-align: center;
}
#proyect-description a{
  position: static;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  text-decoration: none;
  letter-spacing: .02em;
  color: rgb(41, 41, 41);
  font-size: 1.2em;
  line-height: 130%;
  text-align: center;
  background-image: linear-gradient(to right, #4facfebb 0%, #00f1fead 100%);
  transition: .5s;
  /*box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;*/
  cursor: url(../images/cursorGorrion.png),
  pointer;
}
#proyect-description a:hover{
  color: black;
}
.raise:hover{
  color: white;
  background-image: linear-gradient(to right, #4facfec9 0%, #00f1fec5 100%);
  box-shadow: 0 0.5em 0.5em -0.4em rgba(57, 219, 248, 0.979);
  transform: translateY(-0.25em);
  color: white;
  cursor: url(../images/cursorGorrion.png),
  pointer;
}

  


.section-skills{
    position: relative;
    top: var(--top-skills);
    display: flex;
    flex-direction: row;                                 /* Caja SECCION SKILLS */
    justify-content: center;
    align-items: center;
   
    height: var(--height-skills);
    width: 100%;
    z-index: 5;
    
    border: none;
    background: transparent;
    
}
.section-skills article{
    /*height: var(--height-proyects-proyect);*/
    height: 80%;
    width: 80%;                                         /* 1 articulo */
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
#circle{
    
    border-radius: 50%;
    
    justify-self: center;                             /* circulo gira */
    align-self: center;
    height: var(--height-circle-proyect);    /* cambiar valores mas adelante para el responsive design */
    width: var(--width-circle-proyect);
    border: none;
    animation: rotation 40s linear infinite;
}
@keyframes rotation {
  0% { transform: rotate(0deg); }         /* animacion de circulo */
  100% { transform: rotate(360deg); }
}
#skill-box{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 3;
  top: 40%;
}
.skills div h3{
                         /* H3 SKILLS DENTRO DE CIRCULO */
  letter-spacing: .04em;
  text-align: center;
  text-align: center;
}
#skills-p{
  
  line-height: 130%;            /* P DENTRO DEL CIRCULO DEBAJO DE H3 */
  font-size: 1.2em;
  text-align: center;
  color: rgb(36, 36, 36);
}

.skills .ti{
    position: absolute;
    border: 1px solid rgb(230, 230, 230,.01);
    width: var(--width-boxys);                                 /* cajas de tecnologias */
    height: var(--height-boxys);
    animation: moveSkill 40s linear infinite;
    border-radius: 10px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    background: white;
    transform: translate3d(0, 0, 0);
    overflow: hidden;
   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: 1.1s;
}
.ti:hover{
  transition: 1.1s;
  border-radius: 50%;
}


.title-ti{                               /* nombre de tecnologias*/
    letter-spacing: .07em;
    font-size: 1.1em;
    color: rgb(29, 29, 29);
    text-align: center;
    z-index: 2;
}
.percentage{                            /* porcentages: 60% = margin-top: -135%; */
    z-index: 2;                                     /*  65% = margin-top: -130%; */
    font-size: 1.05em;                                 /*  70% = margin-top: -125%; */
    text-align: center;                             /*  75% = margin-top: -120%; */
}
@keyframes moveSkill{
    0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }      /* animacion rotacion inversa cajas tecnologias */
}


@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}
                                            
/* HTML 5 MINI BOX */
#html5{
    top: -12.5%;
    left: 37.5%;
}
.wave-html5{
  opacity: .7;
  position: absolute;
  top: 3%;
  left: 0%;
  background: linear-gradient(to bottom, orange 5%, rgba(0, 170, 255, 0) 100%, rgba(255, 187, 0, 0.5)25%);
  width: 200%;                           
  height: 200%;
  margin-left: -50%;
  margin-top: -125%;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
}
.wave-html5.-three {
  animation: drift 5000ms infinite linear;
}
.wave-html5.-two {
  animation: drift 7000ms infinite linear;
  opacity: .5;
  background: rgb(247, 192, 13);
}

/* CSS3 MINI BOX */

#css3{
    top: 0px;
    left: 0px;
}
.wave-css3{
  opacity: .7;
  position: absolute;
  top: 3%;
  left: 0%;
  background: linear-gradient(to bottom, #00aae4 5%, rgba(0, 170, 255, 0) 100%, rgba(0, 170, 255, .5)25%);
  width: 200%;                           
  height: 200%;
  margin-left: -50%;
  margin-top: -120%;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
}
.wave-css3.-three {
  animation: drift 5000ms infinite linear;
}
.wave-css3.-two {
  animation: drift 7000ms infinite linear;
  opacity: .5;
  background: rgba(50, 186, 240, 0.795);
}


/* JAVASCRIPT MINI BOX */

#javaScript{
    top: 37.5%;
    left: -12.5%;
}
.wave-javascript{
  opacity: .7;
  position: absolute;
  top: 3%;
  left: 0%;
  background: linear-gradient(to bottom, yellow 5%, rgba(0, 170, 255, 0) 100%, rgba(251, 255, 0, 0.5)25%);
  width: 200%;                           
  height: 200%;
  margin-left: -50%;
  margin-top: -130%;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
}
.wave-javascript.-three {
  animation: drift 5000ms infinite linear;
}
.wave-javascript.-two {
  animation: drift 7000ms infinite linear;
  opacity: .5;
  background: rgba(252, 248, 36, 0.842);
}

/* ANGULAR MINI BOX */

#angular{
    bottom: -12.5%;
    left: 37.5%;
}
.wave-angular{
  opacity: .6;
  position: absolute;
  top: 3%;
  left: 0%;
  background: linear-gradient(to bottom, rgb(253, 48, 21) 5%, rgba(0, 170, 255, 0) 100%, rgba(255, 0, 0, 0.5)25%);
  width: 200%;                           
  height: 200%;
  margin-left: -50%;
  margin-top: -135%;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
}
.wave-angular.-three {
  animation: drift 5000ms infinite linear;
}
.wave-angular.-two {
  animation: drift 7000ms infinite linear;
  opacity: .4;
  background: rgba(240, 88, 50, 0.795);
}

/* JQUERY MINI BOX */

#jQuery{
    bottom: 0%;
    left: 0%;
}
.wave-jquery{
  opacity: .7;
  position: absolute;
  top: 3%;
  left: 0%;
  background: linear-gradient(to bottom, rgb(0, 102, 255) 5%, rgba(0, 170, 255, 0) 100%, rgba(0, 89, 255, 0.5)25%);
  width: 200%;                           
  height: 200%;
  margin-left: -50%;
  margin-top: -130%;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
}
.wave-jquery.-three {
  animation: drift 5000ms infinite linear;
}
.wave-jquery.-two {
  animation: drift 7000ms infinite linear;
  opacity: .5;
  background: rgba(50, 139, 240, 0.795);
}

/* NODE JS MINI BOX */

#node{
    top: 37.5%;
    right: -12.5%;
}
.wave-node{
  opacity: .7;
  position: absolute;
  top: 3%;
  left: 0%;
  background: linear-gradient(to bottom, rgb(13, 230, 13) 5%, rgba(0, 170, 255, 0) 100%, rgba(9, 255, 0, 0.5)25%);
  width: 200%;                           
  height: 200%;
  margin-left: -50%;
  margin-top: -135%;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
}
.wave-node.-three {
  animation: drift 5000ms infinite linear;
}
.wave-node.-two {
  animation: drift 7000ms infinite linear;
  opacity: .5;
  background: rgba(50, 240, 50, 0.795);
}

/* REACT MINI BOX */

#react{
    bottom: 0%;
    right: 0%;
}
.wave-react{
  opacity: .7;
  position: absolute;
  top: 3%;
  left: 0%;
  background: linear-gradient(to bottom, #00eeff 5%, rgba(0, 170, 255, 0) 100%, rgba(0, 247, 255, 0.5)25%);
  width: 200%;                           
  height: 200%;
  margin-left: -50%;
  margin-top: -130%;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
}
.wave-react.-three {
  animation: drift 5000ms infinite linear;
}
.wave-react.-two {
  animation: drift 7000ms infinite linear;
  opacity: .5;
  background: rgba(50, 234, 240, 0.795);
}

/* SQL MINI BOX */

#sql{
    top: 0%;
    right: 0%;
}
.wave-sql{
  opacity: .7;
  position: absolute;
  top: 3%;
  left: 0%;
  background: linear-gradient(to bottom, rgb(50, 107, 230) 5%, rgba(0, 170, 255, 0) 100%, rgba(39, 109, 240, 0.5)25%);
  width: 200%;                           
  height: 200%;
  margin-left: -50%;
  margin-top: -130%;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
}
.wave-sql.-three {
  animation: drift 5000ms infinite linear;
}
.wave-sql.-two {
  animation: drift 7000ms infinite linear;
  opacity: .5;
  background: rgba(57, 141, 252, 0.795);
}

#Contact_section{
    width: 100%;
    height: var(--height-contact);

    position: relative;
    top: var(--top-contact);
    
    display: flex;        
    flex-direction: row;                              /* Caja Contacto */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--gap-contact);

    border: none;
    padding-left: 6%;
    padding-right: 6%;
    /*border: 1px solid black;*/
}
#Contact_section .box_contact{  
    width: var(--width-contact-box);
    height: var(--height-twoboxs);
    
    position: relative;
    align-self: center;
    z-index: 50;
    display: flex;
    flex-direction: column;
    
    align-items: center;     
    gap: 10px;                              /* Las 2 cajas */
    padding: 10px;

    border: 1px solid rgb(255, 255, 255,.7);
    border-radius: 30px;
    
    backdrop-filter: blur(3px);
    
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
#contact-icons{
  
  /*background-image: linear-gradient(-225deg, #5d9eff98 0%, #b8dcffad 48%, #6bbaff9d 100%);*/

  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
  
}
h3{position: relative;
    top: 10%;
    font-size: 2em;
    text-align: center;
    color: rgb(32, 32, 32);
    
    
}
#Contact_section .box_contact p{
    position: relative;
    top: 10%;
    font-size: 1.25em;
    margin-top: 5%;
    color: rgb(36, 36, 36);
}
#Contact_section .box_contact #links{
    position: relative;
    top: 25%;
  
    display: flex;
    flex-direction: row;                                     /* Caja Enlaces Iconos */
    justify-content: space-between;
    align-items: center;
    
    padding: 10px;
    cursor: url(../images/cursorGorrion.png),
    default;
    
}
#Contact_section .box_contact #links .icons{
    position: relative;
    bottom: var(--iconos-redes-position);                 
    width: 150px;
    
    border-radius: 50%;
    
    cursor: url(../images/cursorGorrion.png),
    pointer;
    
}
#Contact_section .box_contact #links .icons #se{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    

}
#Contact_section .box_contact #links .icons #se a{
  cursor: url(../images/cursorGorrion.png),             /* fghfhfhfhf*/
  pointer;
}
#Contact_section .box_contact #links .icons #se a p{
    position: absolute;
    top: 200px;
    left: 33.8px;
    margin-top: 15.14px;
    color: rgb(34, 34, 34); 
    text-decoration: none;
    letter-spacing: .04em;
    cursor: url(../images/cursorGorrion.png),
    pointer;
    transition: .2s;
}
#Contact_section .box_contact #links .icons #se a #p-git{
  left: 41.8px;
}
#Contact_section .box_contact #links .icons #se a #p-git:hover{
  left: 38px;
  color: black;
}
#Contact_section .box_contact #links .icons #se p:hover{
  font-size: 1.35em;
  transition: .2s;
  left: 30px;
  color: black;
}

#Icono-Linkedin img{
    position: relative;
    width: var(--width-icono-redes);
    border-radius: 50%;
    animation: bounce 1s alternate infinite ease-in;
    cursor: url(../images/cursorGorrion.png),
    pointer;
}
#iconoGithub{
    position: relative;
    width: var(--width-icono-redes);
    animation: bounce 1s alternate infinite ease-in;
    animation-delay: 1s;
    cursor: url(../images/cursorGorrion.png),
    pointer;
}
.shadow{
  width: var(--width-icono-redes);
  height: 1px;                                                /* Shadow */
  background: #000;
  box-shadow: 0 0 5px 5px #000;
  border-radius: 50%;
  position: absolute;
  top: 188px; 
  opacity: .2;
  transform: scale(0.5);
  animation: shadow 1s alternate infinite ease-in;
}
#shadow_git{
    animation: shadow_git 1s alternate infinite ease-in;
}
@keyframes shadow{ 
  100%{
    transform: scale(1);
    opacity: .5                                           /* Animation Shadow */
  }
}
@keyframes shadow_git{ 
  0%{
    transform: scale(1);
    opacity: .5
  }
}
@keyframes bounce{
  90%{
    height: 100px;
  }                                                     /* Animation Bote */
  100%{
    transform: translateY(100px);
    height: 80px;
  }
}
#box-form{
  /*background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);*/
  /*background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);*/
  background-color: white;
  cursor: url(../images/pluma.png) 13.9 50,
  text;
}
form{
    width: 100%;
    height: 70%;
    position: relative;
    top: 15%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    padding: 0;
    cursor: url(../images/pluma.png) 13.9 50,
    text;
}
form input[required]:valid{
  border: 1px solid rgb(33, 150, 243,.7);
}

.none{
  display: none;
}
.contact-form-response{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  bottom: 21%;
  text-align: center;
  font-size: .9em;
  letter-spacing: .3px;
  text-decoration: underline rgb(33, 150, 243,.7);
  text-underline-position: under;
  cursor: url(../images/pluma.png) 13.9 50,
  text;
}
p-enviado{
  position: absolute;
  bottom: 21%;
  text-align: center;
  font-size: .9em;
  letter-spacing: .3px;
  text-decoration: underline rgb(33, 150, 243, .7);
  text-underline-position: under;
}
.logo-enviado{
  position: relative;
  left: 0;
  top: 7px;
  margin-right: 5px;
  width: 30px;
  border-radius: 50%;
}
form input{
    width: 75%;
    height: 12%;

    align-self: center;
    margin-bottom: 7%;

    padding: 0px 13px 0px 8px;
    font-size: 1em;
    border-radius: 10px;
    border: 0;
    border-bottom: 1px solid rgb(33, 150, 243,.7);
    
    
    letter-spacing: .5px;
    background-color: transparent;
    cursor: url(../images/pluma.png) 13.9 50,
    text;
}
input:hover{
  cursor: url(../images/pluma.png) 13.9 50,text;
}
input:focus{
  outline: none;
  cursor: url(../images/pluma.png) 13.9 50,text;
}
textarea{
    
    height: 65%;
    width: 270px;

    padding: 10px;
    resize: none;
    font-size: 1em;
    
    margin-bottom: 5%;
    border-radius: 10px;
    
    border: 1px solid rgb(33, 150, 243,.7);
    overflow: auto;
    letter-spacing: 1px;
    background-color: transparent;
    cursor: url(../images/pluma.png) 13.9 50,text;
}
textarea:hover{
  cursor: url(../images/pluma.png) 13.9 50,
  text;
}
textarea:focus{
    outline: none;
    cursor: url(../images/pluma.png) 13.9 50,
    text;
}
#name-label{
  position: absolute;
  top: 3.5%;
  left: 14.8%;
  color: rgb(116, 116, 116);
  transition: .4s;
  letter-spacing: .5px;
  cursor: url(../images/pluma.png) 13.9 50,
  text;
}
#name:focus ~ #name-label{
  position: absolute;
  top: -5%;
  left: 14.8%;
  color: rgb(33, 150, 243, 1);
  transition: .4s;
  font-size: .9em;
  letter-spacing: .5px;
}
.focus-label-name ~ #name-label {
  position: absolute;
  top: -5%;
  left: 14.8%;
  color: rgb(33, 150, 243, 1);
  transition: .4s;
  font-size: .9em;
  letter-spacing: .5px;
}

#email-label{
  position: absolute;
  top: 24.3%;
  left: 14.8%;
  color: rgb(116, 116, 116);
  transition: .4s;
  letter-spacing: .5px;
  cursor: url(../images/pluma.png) 13.9 50,
  text;
}
#email:focus ~ #email-label{
  position: absolute;
  top: 15.3%;
  left: 14.8%;
  color: rgb(33, 150, 243, 1);
  transition: .4s;
  font-size: .9em;
  letter-spacing: .5px;
}
.focus-label-email ~ #email-label{
  position: absolute;
  top: 15.3%;
  left: 14.8%;
  color: rgb(33, 150, 243, 1);
  transition: .4s;
  font-size: .9em;
  letter-spacing: .5px;
}
#mensaje-label{
  cursor: url(../images/pluma.png) 13.9 50,
  text;
}
#submit{
    position: relative;
    bottom: 4%;;
    width: 30%;
    height: 13%;
    border: none;
    border-radius: 30px;
    transition: .5s;
    font-size: 1.2em;
    background-color: rgba(33, 149, 243, 0.644);
    cursor: pointer;
    letter-spacing: .04em;
    cursor: url(../images/cursorGorrion.png),
    pointer;
}
#submit:hover{
    background-color: rgba(33, 149, 243, 0.836);
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em rgba(27, 155, 240, 0.774);
    transform: translateY(-0.25em);
    cursor: url(../images/cursorGorrion.png),
    pointer;
}

.wave-contact {
  z-index: 10;
  position:absolute;
  width: 100%;
  left: 0px;
  margin-bottom: 0px;
  height: 15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
  cursor: url(../images/cursorGorrion.png),
  default;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

@media (max-width: 1452px){
    :root{
    --height-header: 65px;
    --width-logo: 60px;

    --padding-nav-a: 1px;

    --height-welcome-page: 637px;

    --height-photo-data: 320px;
    --width-photo-data: 240px;
    --top-photo-data: 110px;
    --padding-photo-data: 10px 20px;
    --fontsize-h1: 1.4em;
    --fontsize-job: 1.1em;
    --photo-cesar: 140px;

    
    --height-proyects: 587px;
    --height-proyect-sing: 400px;

    --top-skills: 0px;
    --height-skills: 737px;

    --height-circle-proyect: 430px;
    --width-circle-proyect: 430px;

    --width-boxys: 120px;
    --height-boxys: 120px;



    --top-contact: 0px;
    --height-contact: 507px;
    --gap-contact: 85px;
    --height-twoboxs: 95%;

    --width-contact-box: 350px;
    --width-icono-redes: 100px;
    --iconos-redes-position: 50px;

}
#Contact_section{
  padding-top: 35px;
}
#Contact_section .box_contact p{
    margin-top: 10%;
}
#Contact_section .box_contact #links{
    top: 25%;
}
header .nav{
    width: 350px;
}
header .nav a{
    padding: var(--padding-nav-a) 14px;     
}
h3{
    top: 8%;
    font-size: 1.7em;
}
#Contact_section .box_contact p{
    font-size: 1.2em;
    top: 8%;
    margin-top: 5%;
}
form{
    height: 74%;
}
textarea{
    width: 245px;
}
#email-label {
  position: absolute;
  top: 23.3%;
  left: 14.8%;
}
#email:focus~#email-label {
  position: absolute;
  top: 14.7%;
  left: 14.8%;
  
}

.focus-label-email~#email-label {
  position: absolute;
  top: 14.7%;
  left: 14.8%;
 
}
button{
    bottom: 6%;
}
header .nav{
    right: 3.5vw;
}
.section-proyects #proyect{
  width: 700px;
}
}
@media (max-width: 1130px) {
  #Welcome-page{
    border-radius: 0% 0% 50% 50%;
  }
}
@media (max-width: 1100px) {
  :root{
    --height-proyects: 847px;
    --height-proyect-sing: 650px;
  }
  .section-proyects{
  width: 100%;
  height: var(--height-proyects);
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}
.section-proyects h3{
  letter-spacing: .04em;
}
.section-proyects #proyect{
  width: 430px;
  height: var(--height-proyect-sing);
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: none;
  position: relative;
  top: 30px;
}
.section-proyects #proyect #proyect-image{
  width: 100%;
  height: 50%;
  border: none;
  border-radius: 20px 20px 0px 0px;
  
}
#proyect-description{
  width: 100%;
  height: 50%;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  background: white;
  align-items: center;
  border-radius: 0px 0px 20px 20px;
  padding: 0px 25px;
}

}
@media (max-width: 1075px) {
  .panel-btn{
    position: absolute;
    right: 10px;
   
    top: 3px;
  }
  
  
    header .nav{
        position: absolute;
       
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        /*z-index: -50;*/
       
        
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        
      border: none;
    
    background-color: #F4F6FB;
    opacity: 0;
    transform: translate(0,-101%);

    transition: opacity .4s linear,transform .4s linear;
    
    }
    header .nav ul{

        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 50px;
        padding: 0px;
    }
    header .nav a{
    text-decoration: none;
    letter-spacing: .07em;
    border: none;
    width: 200px;
    padding: 10px 30px;
    border-radius: 40px;
    text-align: center;
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.781); 
    
    }
    
    header .nav-is-active{
      position: absolute;
        
       
        
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        /*z-index: -50;*/
       
        
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        
      border: none;
    /*display: none;*/
    background-color: #F4F6FB;
    
    opacity: 1;
    transform: translate(0,0);
    transition: opacity .4s linear,transform .4s linear;
    
    }
    header .nav-is-active ul{

        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 50px;
        padding: 0px;
    }
    header .nav-is-active ul li{
      padding: 0px;
    }
   header .nav-is-active a{
    text-decoration: none;
    letter-spacing: .07em;
    border: none;
    width: 200px;
    padding: 10px 30px;
    border-radius: 40px;
    text-align: center;
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.781); 
    
    }
    
    }
    
    
    




@media (max-width: 950px) {
    #Contact_section{
        gap: 50px;
    }
    #Contact_section .box_contact p{
    margin-top: 5%;
    }
    #Contact_section .box_contact #links{
    position: relative;
    top: 25%;
    }
}

@media (max-width: 902px) {
    
    :root{
    --height-header: 65px;
    --width-logo: 50px;

    --padding-nav-a: 1px;

    --height-welcome-page: 637px;

    --height-photo-data: 320px;
    --width-photo-data: 240px;
    --top-photo-data: 110px;
    --padding-photo-data: 10px 20px;
    --fontsize-h1: 1.4em;
    --fontsize-job: 1.1em;
    --photo-cesar: 140px;

    
    
    

    --top-skills: 0px;
    --height-skills: 737px;

    --height-circle-proyect: 430px;
    --width-circle-proyect: 430px;

    --width-boxys: 120px;
    --height-boxys: 120px;



    --top-contact: 0px;
    --height-contact: 977px;
    --gap-contact: 5px;
    --height-twoboxs: 60%;

    --width-contact-box: 350px;
    --width-icono-redes: 100px;
    --iconos-redes-position: 45px;
}
#Contact_section{
    width: 100%; 

    position: relative;
    
    display: flex;        
    flex-direction: column;                              /* Caja Contacto */
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  
    border: none;
}
#Contact_section .box_contact #links{
    position: relative;
    top: 25%;
}
#box_form{
    margin-bottom: 50px;
}
#Contact_section .box_contact p{
    font-size: 1.2em;
    top: 8%;
    margin-top: 5%;
}

}
@media (max-width: 870px) {
  :root{
    --top-skills: 0px;
    --height-skills: 737px;

    --height-circle-proyect: 730px;
    --width-circle-proyect: 430px;

    --width-boxys: 120px;
    --height-boxys: 120px;
  }
  .section-skills{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .skills{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  #circle{
    border: none;
    animation: none;
    border-radius: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 20px;
  }
  #skill-box{
    position: relative;
    top: 0px;
  }
  .skills .ti{
    animation: none;
    position: static;
  }
  }
@media (max-width: 768px) {
  .cursorCirculo{
    display: none;
  }
}
@media (max-width: 660px) {
  :root{
    --height-header: 55px;
    --width-logo: 40px;
  }
  .panel-btn{
    top: 1px;
    right: -5px;
  }
}
@media (max-width: 550px) {
  :root{
  --height-header: 55px;
    --width-logo: 40px;

    --padding-nav-a: 1px;

    --height-welcome-page: 637px;

    --height-photo-data: 320px;
    --width-photo-data: 240px;
    --top-photo-data: 110px;
    --padding-photo-data: 10px 20px;
    --fontsize-h1: 1.4em;
    --fontsize-job: 1.1em;
    --photo-cesar: 140px;

    --height-proyects: 847px;
    --height-proyect-sing: 650px;
    

    --top-skills: 0px;
    --height-skills: 737px;

    --height-circle-proyect: 430px;
    --width-circle-proyect: 430px;

    --width-boxys: 120px;
    --height-boxys: 120px;

    --top-contact: 0px;
    --height-contact: 977px;
    --gap-contact: 5px;
    --height-twoboxs: 60%;

    

    --width-contact-box: 350px;
    --width-icono-redes: 100px;
    --iconos-redes-position: 50px;
  }
  #Welcome-page{
    border-radius: 0% 0% 2% 2%;
  }
  .section-proyects{
    margin-bottom: 0px;
  }
  .section-proyects #proyect{
  width: 80%;
  top: 20px;
  }
}
@media (max-width: 550px) {
  :root{
    --height-circle-proyect: 500px;
    --width-circle-proyect: 85%;

    --width-boxys: 120px;
    --height-boxys: 120px;
  }
  #skill-box{
    margin-bottom: -10px;
  }
  #section-skills{
    margin-bottom: 45px;
  }
  
}

@media (max-width: 405px) {
  :root{
  --height-header: 55px;
    --width-logo: 40px;

    --padding-nav-a: 1px;

    --height-welcome-page: 637px;

    --height-photo-data: 320px;
    --width-photo-data: 240px;
    --top-photo-data: 110px;
    --padding-photo-data: 10px 20px;
    --fontsize-h1: 1.4em;
    --fontsize-job: 1.1em;
    --photo-cesar: 140px;

    --height-proyects: 857px;
    --height-proyect-sing: 650px;
    

    --top-skills: 0px;
    --height-skills: 747px;

    

    --width-boxys: 40%;
    --height-boxys: 22%;

    --top-contact: 0px;
    --height-contact: 977px;
    --gap-contact: 5px;
    --height-twoboxs: 60%;

    

    --width-contact-box: 99%;
    --width-icono-redes: 100px;
    --iconos-redes-position: 50px;
  }
  #Welcome-page{
    border-radius: 0% 0% 2% 2%;
  }
  .section-proyects #proyect{
  width: 80%;
  top: 20px;
  }
  #section-skills{
    margin-bottom: 0;
  }
  
  p{
    text-align: center;
  }
  h3{
    text-align: center;
  }
  #circle .ti{
    min-width: 110px;
  }
  form input{
    width: 245px;
  }
  #name-label {
    position: absolute;
    top: 3.5%;
    left: 14.8%;
   
  }

  #name:focus ~ #name-label {
    position: absolute;
    top: -5%;
    left: 14.8%;
    
  }

  .focus-label-name ~ #name-label {
    position: absolute;
    top: -5%;
    left: 14.8%;
  
  }

  #email-label {
    position: absolute;
    top: 23.3%;
    left: 14.8%;
  
  }

  #email:focus ~ #email-label {
    position: absolute;
    top: 14.8%;
    left: 14.8%;
   
  }

  .focus-label-email ~ #email-label {
    position: absolute;
    top: 14.8%;
    left: 14.8%;
    
  }
 
 
}
/*@media (max-width: 370px) {
  .section-skills{
    height: 1300px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  :root{
    --height-circle-proyect: 1500px;
    --width-circle-proyect: 85%;

    --width-boxys: 125px;
    --height-boxys: 125px;
  }*/
@media (max-width: 367px) {
  .contact-form-response{
    bottom: 21%;
  }
  #submit{
    height: 40px;
    width: 100px;
  }
  
}
@media (max-width: 352px) {
  .section-skills {
    height: 1300px;
    margin-top: 40px;
    margin-bottom: 40px;
    
  }

  :root {

    --height-circle-proyect: 1500px;
    --width-circle-proyect: 85%;

    --width-boxys: 125px;
    --height-boxys: 125px;
    --top-contact: 45px;
  }
  #name-label {
    position: absolute;
    top: 3.5%;
    left: 8.8%;

  }

  #name:focus~#name-label {
    position: absolute;
    top: -5%;
    left: 8.8%;

  }

  .focus-label-name~#name-label {
    position: absolute;
    top: -5%;
    left: 8.8%;

  }

  #email-label {
    position: absolute;
    top: 23.3%;
    left: 8.8%;

  }

  #email:focus~#email-label {
    position: absolute;
    top: 14.4%;
    left: 8.8%;

  }

  .focus-label-email~#email-label {
    position: absolute;
    top: 14.4%;
    left: 8.8%;

  }
}
@media (max-width: 354px) {
  :root{
    
    --iconos-redes-position: 50px;
  }
  form input{
    min-width: 245px;
  }
 
  #contact-icons p{
    position: absolute;
    top: -50px;
  }
  form{
    position: relative;
    top: 65px;
  }
  
}
@media (max-width: 340px) {
  /*.box_contact h3{
    top: 20px;
    margin-bottom: 0px;
  }*/
  /*:root{
    
    --iconos-redes-position: 70px;
  }*/
  /*form{
    position: relative;
    top: 36px;
  }*/
}
@media (max-width: 329px) {
  :root{
    
    --iconos-redes-position: 70px;
  }
}
@media (max-width: 323px) {
  :root{
    /*--top-contact: 400px;*/
    --height-contact: 977px;
  }
  #Contact_section{
    
    margin-bottom: 30px;
  }
  
  body{
    
    height: 3650px;
  }
  #submit{
    bottom: 4%;
  }
 
  /*#box-form *{
    max-width: 80%;
  }*/
  textarea{
    position: relative;
    /*left: -10px;
    right: 10px;*/
    width: 240px;
  }
  #submit{
    height: 40px;
    width: 100px;
  }
  .contact-form-response{
    bottom: 21%;
  }
}