*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial,serif;
}
:root{
    --height-header: 100px;
    --width-logo: 100px;

    --padding-nav-a: 7.57px;

    --height-welcome-page: 757px;

    --height-photo-data: 430px;
    --width-photo-data: 330px;
    --top-photo-data: 130px;
    --padding-photo-data: 30px 20px;
    --fontsize-h1: 1.7em;
    --fontsize-job: 1.5em;
    --photo-cesar: 170px;

    --top-wave1: 433.89999999999997px;
    --width-wave: 6000px;
    --height-wave: 454.2px;
    --move-wave: -1600px;

    --top-proyects: 75.7px;
    --height-proyects: 757px;
    --height-proyects-proyect: 605.6px;

    --top-wave2: 1388.5px;

    --top-contact: 151.4px;
    --height-contact: 757px;
    --gap-contact: 50px 50px;

    --width-contact-boxizq: 400px;
    --margin-left-boxizq: 20px;
    --width-icono-redes: 100px;
    --iconos-redes-position: 0px;

    --width-mobile: 400px;
    --height-mobile: 80%;
}
img{
    max-width: 100%;                             /* Para todas las imágenes */
    height: auto;
}
body{
    background-color: #ececec;
    width: 100%;
}
header{
    z-index: 100;
    position: fixed;
    width: 100%;
    height: var(--height-header);
    border: 1px solid rgb(255, 255, 255,.1);             /* Caja Header */
    display: flex;
    flex-direction: row;
    
    align-items: center;
   
    border-radius: 0% 0% 25% 25%;
    box-shadow: rgba(129, 129, 129, 0.2) 0px 5px 10px;
    background-color: rgb(255, 255, 255,.01);
    backdrop-filter: blur(0.1px);
}
header #logo{   
    position: relative;
    left: 10vw;                                          /* Caja Logo Img*/
    background-color: rgb(85, 222, 247);
    width: var(--width-logo);
    box-shadow: rgba(46, 195, 240, 0.4) -5px 5px, rgba(100, 210, 253, 0.3) -10px 10px, rgba(96, 212, 241, 0.2) -15px 15px, rgba(94, 216, 247, 0.1) -20px 20px, rgba(75, 225, 245, 0.05) -25px 25px;
    border-radius: 50% 20% 80% 20%;
    animation-name: fire-blue;
}









header #btn-nav{
    display: none;
}
header label{
    display: none;
    width: 60px;
}
header label:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255,.01);
    backdrop-filter: blur(0.1px);
    border: 1px solid rgb(255, 255, 255,.1);  
}
header .nav{
    position: absolute;
    right: 5vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30.5%;
    height: 70px;                                         /* Caja Nav */
    padding-left: 1vw; 
    padding-right: 1vw;      
}
header .nav ul{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 88.5%;
}
header .nav ul li{
    list-style: none;
}
header .nav a{
    text-decoration: none;
    color: rgb(43, 42, 42);  
    padding: var(--padding-nav-a) 1.5vw;                         /* Enlaces del Nav */
    background-image: linear-gradient(to right top, rgb(211, 218, 229,1), rgb(188, 216, 239,1), rgb(154, 215, 245,1), rgb(107, 216, 244,1), rgb(18, 216, 235,1));
    border-radius: 5px;
    box-shadow: rgb(255, 255, 255) 0px 3px 8px;
}
@media (max-width:800px){
    header label{
        display: inline-block;
    }
    header .nav{
        position: absolute;
        left: -80%;
        transition: 0.2s;
    }
    header .nav ul{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    #btn-nav:checked ~ .nav{
        left: 0%;
    }
}














#Welcome-page{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    border: none;
    width: 100%;                                        /* Caja Pagina Bienvenida */
    height: var(--height-welcome-page);
    
}
#Welcome-page #Photo_and_data{
    position: relative;
    
    top: var(--top-photo-data);
    width: var(--width-photo-data);
    
    height: var(--height-photo-data);
    
    padding: var(--padding-photo-data);
    z-index: 1;
    display: flex;
    flex-direction: column;   
    justify-content: space-around;                       /* Caja Foto y Datos */
    align-items: center;
    
    align-self: center;
    border: 1px solid rgb(255, 255, 255,.7);
    border-radius: 30px;
    background-color: rgb(255, 255, 255,.7);
    backdrop-filter: blur(2px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#Welcome-page #Photo_and_data h1{
    
    margin-top: 10px;
    font-size: var(--fontsize-h1);
    color: #131313;  
    text-align: center;
   
}
#Welcome-page #Photo_and_data p{
    margin-top: 10px;
    font-size: var(--fontsize-job);
    color: rgb(34, 34, 34); 
    text-align: justify;
}
#Welcome-page #Photo_and_data img{
    width: var(--photo-cesar);                                           /* Foto de Cesar */
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255,.01);
    box-shadow: rgba(0, 0, 0, 0.54) 0px 3px 8px;
    
}
.box_wave1{
    z-index: 30;
    width: 100%;                                           /* Box Olas 1 */
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    
    top: var(--top-wave1);
}
.wave1{
    z-index: 30;
    background-position: bottom;
    width: var(--width-wave);
    height: var(--height-wave);
    background-image: url(Ola.svg);
    transform: rotate(180deg);
    opacity: .8;
    border: none;
    z-index: 4;
    animation: wave-1 7s linear infinite;
}
@keyframes wave-1{
    0%{
        margin-left: 0px;
    }
    100%{
        margin-left: var(--move-wave);
    }
}

#All_projects_section{
    position: relative;
    top: var(--top-proyects);
    display: flex;
    flex-direction: row;                                 /* Caja Proyectos */
    justify-content: center;
    align-items: center;
    border: none;
    height: var(--height-proyects);
    width: 100%;
    background-color: #2196F3;
    opacity: .8;
    border: none;
}
#All_projects_section #projects{
    height: var(--height-proyects-proyect);
    width: 80%;
    border: 1px solid black;
}
.box_wave2{
    
    width: 100%;                                           /* Box Olas 2*/
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: var(--top-wave2);
}
.wave2{
    width: var(--width-wave);
    height: var(--height-wave);
    background-image: url(Ola.svg);
    
    opacity: .8;
    border: none;
    z-index: 4;
    animation: wave-2 7s linear infinite;
}
@keyframes wave-2{
    0%{
        margin-left: 0px;
    }
    100%{
        margin-left: var(--move-wave);
    }
}
#Contact_section{
    position: relative;
    top: var(--top-contact);
    display: flex;                                           /* Caja Contacto */
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: var(--height-contact);
   
    width: 100%;
    border: none;
    flex-wrap: wrap;
    gap: var(--gap-contact);
}
#Contact_section #box_contact_links{
    
    display: flex;
    flex-direction: column;
    align-items: center;                                   /* Caja Grande Izquierda */
    padding: 45px 10px 10px 10px;
    
    position: relative;
    top: 5%;
    width: var(--width-contact-boxizq);
    height: 70%;
    border: 1px solid rgb(255, 255, 255,.7);
    border-radius: 30px;
    background-color: rgb(255, 255, 255,.7);
    backdrop-filter: blur(2px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: var(--margin-left-boxizq);
}
#Contact_section #box_contact_links h3{
    font-size: 2em;
    text-align: center;
    color: rgb(0, 0, 0);
}
#Contact_section #box_contact_links p{
    font-size: 1.2em;
    margin-top: 10%;
    color: rgb(22, 22, 22);
}

#Contact_section #box_contact_links #links{
    display: flex;
    flex-direction: row;                                     /* Caja Enlaces Iconos */
    justify-content: space-between;
    align-items: center;
    
    padding: 10px;
    margin-top: 75.7px;
}

#Contact_section #box_contact_links #links .icons{
    position: relative;
    bottom: var(--iconos-redes-position);
    width: 150px;
}
#Contact_section #box_contact_links #links .icons a{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#Contact_section #box_contact_links #links .icons a p{
    position: absolute;
    top: 200px;
    margin-top: 15.14px;
    color: rgb(43, 42, 42); 
    text-decoration: none;
}
#Icono-Linkedin img{
    position: relative;
    width: var(--width-icono-redes);
    border-radius: 50%;
    animation: rebota 1s alternate infinite ease-in;
}
#iconoGithub{
    position: relative;
    width: var(--width-icono-redes);
    animation: rebota 1s alternate infinite ease-in;
    animation-delay: 1s;
}
.shadow{
  width: var(--width-icono-redes);
  height: 1px;
  background: #000;
  box-shadow: 0 0 5px 5px #000;
  border-radius: 50%;
  position: absolute;
  top: 188px; 
  opacity: .2;
  transform: scale(0.5);
  animation: sombra 1s alternate infinite ease-in;
}
#shadow_git{
    animation: sombra_git 1s alternate infinite ease-in;
}
@keyframes sombra{ 
  
  100%{
    transform: scale(1);
    opacity: .5
  }
}

@keyframes sombra_git{ 
  
  0%{
    transform: scale(1);
    opacity: .5
  }
}

@keyframes rebota{
  90%{
    height: 100px;
  }
  
  100%{
    transform: translateY(100px);
    height: 80px;
  }
}








#Contact_section #Mobile{
    position: relative;
    top: 5%;
    border: 2px solid rgb(41, 243, 243);                           /* Caja grande Celular */
    width: var(--width-mobile);
    height: var(--height-mobile);
    border-radius: 37px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-right: var(--margin-left-boxizq);
}
#Contact_section #Mobile #Mobile_edge{
    width: 100%;
    height: 100%;                                                  /* Primera capa Borde Celular */
    border: 2px solid rgb(75, 200, 231);
    border-radius: 35px;
}
#Mobile #Mobile_edge div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 2px solid rgb(110, 108, 108);
    border-radius: 34px;
    background-color: rgb(248, 245, 245);
}
#Mobile #Mobile_edge div div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: 97%;                                                   /* Ultima capa Borde Celular */
    border: 2px solid rgb(58, 57, 57);
    border-radius: 28px 28px 31px 31px;
    /*background-image: linear-gradient(to right top, #26eded, #01e2f7, #24d6fc, #48c9fc, #66bbf6, #5ca8dc, #5295c3, #4982aa, #2b647c, #1c4751, #132a2c, #020d0c);*/
}
#Mobile_edge div div #Mobile__top{
    width: 100%;
    border-radius: 48px 48px 0px 0px;                              /* Mobile Top */
    height: 5%;
    background-image: linear-gradient(to right top, #5ef6f6, #47e5fc, #49d3fd, #5dbff7, #74abea, #6f9fd8, #6a93c6, #6588b5, #557f9c, #517583, #52686d, #555b5b);
    border: 0.1px solid rgb(243, 242, 242);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15%;
    
}
#Mobile_edge div div #Mobile__head{
    width: 100%;                                                    /* Mobile Head */
    border-radius: 0%;
    height: 10%;
    background-image: linear-gradient(to right bottom, #5ef6f6, #47e5fc, #49d3fd, #5dbff7, #74abea, #6f9fd8, #6a93c6, #6588b5, #557f9c, #517583, #52686d, #555b5b);
    border: 0.1px solid rgb(243, 242, 242);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 3%;
}
#Mobile_edge div div #Mobile__body{
    width: 100%;                                                    /* Mobile Body */
    border-radius: 0%;
    height: 75%;
    background-image: linear-gradient(to top, #f0f9f9, #f0f9fa, #f1f8fa, #f2f8fa, #f3f7fa, #f2f6f9, #f2f6f9, #f1f5f8, #eff4f7, #ecf4f5, #ebf3f3, #e9f2f1);
    border: 0.1px solid rgb(243, 242, 242);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#Mobile_edge div div #Mobile__bottom{
    width: 100%;                                                    /* Mobile Bottom */
    border-radius: 0px 0px 30px 30px;
    height: 10%;
    background-image: radial-gradient(circle, #5ef6f6, #47e5fc, #49d3fd, #5dbff7, #74abea, #6f9fd8, #6a93c6, #6588b5, #557f9c, #517583, #52686d, #555b5b);
    border: 0.1px solid rgb(243, 242, 242);
}







#Mobile_edge div div #Mobile__top img{
    height: 60% ;                                                  /* Mobile Top *       */ 
}










#Mobile_edge div div #Mobile__head img {
    height: 80%;                                                  /* Mobile Head *       */
    border: 0.1px solid rgb(126, 124, 124);
    border-radius: 50%;
}
#Mobile_edge div div #Mobile__head div{
    align-items: center;
    border: 0;
    background: none;
    width: 15%;
    height: 70%;
    border-radius: 0%;
    position: relative;
    right: 29%;
}
#Mobile_edge div div #Mobile__head p{
    color: rgb(235, 230, 230);
    font-size: 1em;
    text-align: center;
}






#Mobile_edge div div #Mobile__body form{                         /* Mobile Body *       */
    /*border: 1px solid black;*/
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 3%;
}
#Mobile_edge div div #Mobile__body div{
    align-self: flex-start;
    border-radius: 10px;
    height: 20%;
    width: 65%;
    border: 0;
    background: none;
}
#Mobile_edge div div #Mobile__body div input{
    height: 80%;
    width: 90%;
    font-size: 1em;
}
textarea{
    resize: none;
    font-size: 1em;
    width: 90%;
    padding: 5% 5%;
}

@media (max-width: 1452px){
    :root{
    --height-header: 80px;
    --width-logo: 80px;

    --padding-nav-a: 4.57px;

    --height-welcome-page: 637px;

    --height-photo-data: 380px;
    --width-photo-data: 280px;
    --top-photo-data: 110px;
    --padding-photo-data: 30px 20px;
    --fontsize-h1: 1.4em;
    --fontsize-job: 1.2em;
    --photo-cesar: 150px;

    --top-wave1: 313.89999999999997px;
    --width-wave: 6000px;
    --height-wave: 454.2px;
    --move-wave: -1600px;

    --top-proyects: 75.7px;
    --height-proyects: 637px;
    --height-proyects-proyect: 515.6px;

    --top-wave2: 1148.5px;

    --top-contact: 131.4px;
    --height-contact: 637px;
    --gap-contact: 50px 50px;

    --width-contact-boxizq: 350px;
    --margin-left-boxizq: 20px;
    --width-icono-redes: 100px;
    --iconos-redes-position: 50px;

    --width-mobile: 350px;
    --height-mobile: 80%;
}
#Contact_section #box_contact_links h3{
    font-size: 1.5em;
}
#Contact_section #box_contact_links p{
    font-size: 1em;
}
}