*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial,serif;
}
img{
    max-width: 100%;                /* Para todas las imágenes */
    height: auto;
}
body{
    height: 450vh;
    background-color: #ececec;
}
header{
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 13vh;
    border: 1px solid rgb(245, 239, 239,.1);               /* Caja Header */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10vw;
    padding-right: 12.5vw;
    border-radius: 0% 0% 25% 25%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: rgb(255, 255, 255,.01);
    backdrop-filter: blur(0.1px);
}
header #logo{                                             /* Caja Logo*/
    background-color: rgb(85, 222, 247);
    width: 100px;
    box-shadow: rgba(46, 195, 240, 0.4) -5px 5px, rgba(100, 210, 253, 0.3) -10px 10px, rgba(96, 212, 241, 0.2) -15px 15px, rgba(94, 216, 247, 0.1) -20px 20px, rgba(75, 225, 245, 0.05) -25px 25px;
    border-radius: 50% 20% 80% 20%;
}
header #logo img{
    border-radius: 50% 20% 80% 20%;
}
header #navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 400px;                                         /* Caja Nav */
    padding-left: 1vw; 
    padding-right: 1vw;    
           
}
header #navBar a{
    text-decoration: none;
    color: rgb(43, 42, 42);                           /* Enlaces del Nav */
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    box-shadow: rgba(255, 255, 255, 0.781) 0px 4px 12px;
    background-image: linear-gradient(to right top, rgb(211, 218, 229.5), rgb(188, 216, 239.5), rgb(154, 215, 245,.5), rgb(107, 216, 244,.5), rgb(18, 216, 235,.5));
    border-radius: 5px;
}
#Welcome-page{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(90, 87, 87);
    width: 100%;                                        /* Caja Pagina Bienvenida */
    height: 130vh;
    border-radius: 0% 0% 50% 40%;
    background: rgb(255, 255, 255);
}
#Welcome-page #Photo_and_data{
    position: relative;
    top: 26vh;
    margin-right: 220px;
    padding: 45px 20px;
    z-index: 1;
    display: flex;
    flex-direction: column;                          /* Caja Foto y Datos */
    align-items: center;
    width: auto;
    height: auto;
    align-self: flex-end;
    border: 1px solid rgb(190, 187, 187);
    border-radius: 5px;
}
#Welcome-page #Photo_and_data h1{
    margin-top: 3vh;
    font-size: 1.7em;
    color: rgb(43, 42, 42);   
}
#Welcome-page #Photo_and_data p{
    margin-top: 1vh;
    font-size: 1.5em;
    color: rgb(43, 42, 42); 
}
#Welcome-page #Photo_and_data #Cesar_photo_box{
    width: 200px;                                       /* Caja con Foto de Cesar */
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#Welcome-page #Photo_and_data #Cesar_photo_box img{
    border-radius: 50%;
}
#All_projects_section{
    position: relative;
    top: 10vh;
    display: flex;
    flex-direction: column;                           /* Caja Proyectos */
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    height: auto;
    width: 100%;
}
#All_projects_section #projects{
    height: 80vh;
    width: 80%;
    border: 1px solid black;
}
#Contact_section{
    position: relative;
    top: 20vh;
    display: flex;                                  /* Caja Contacto */
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 120vh;
    width: 100%;
    border: 1px solid black;
}
#Contact_section #box_contact_links{
    border: rgb(211, 210, 210) 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;                                   /* Caja Grande Izquierda */
    padding: 30px;
    height: 80vh;
}
#Contact_section #box_contact_links h3{
    font-size: 2em;
}
#Contact_section #box_contact_links p{
    font-size: 1.2em;
    margin-top: 10%;
}

#Contact_section #box_contact_links #links{
    display: flex;
    flex-direction: row;                                     /* Caja Enlaces Iconos */
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(194, 192, 192);
    padding: 10px;
    margin-top: 10vh;
}

#Contact_section #box_contact_links #links .icons{
    position: relative;
    width: 150px;
}
#Contact_section #box_contact_links #links .icons a{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#Contact_section #box_contact_links #links .icons a p{
    margin-top: 2vh;
    color: rgb(43, 42, 42); 
    text-decoration: underline white;
}
#Icono-Linkedin img{
    width: 120px;
    border-radius: 50%;
}
#Contact_section #Mobile{
    position: relative;
    border: 2px solid rgb(41, 243, 243);                           /* Caja grande Celular */
    width: 400px;
    height: 600px;
    border-radius: 40px;
    box-shadow: rgba(7, 0, 0, 0.3) 0px 2px 8px 0px;
}
#Contact_section #Mobile #Mobile_edge{
    width: 100%;
    height: 100%;                                                  /* Primera capa Borde Celular */
    border: 2px solid rgb(75, 200, 231);
    border-radius: 35px;
}
#Mobile #Mobile_edge div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 2px solid rgb(110, 108, 108);
    border-radius: 34px;
    background-color: rgb(248, 245, 245);
}
#Mobile #Mobile_edge div div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: 97%;                                                   /* Ultima capa Borde Celular */
    border: 2px solid rgb(58, 57, 57);
    border-radius: 31px 31px 31px 31px;
    /*background-image: linear-gradient(to right top, #26eded, #01e2f7, #24d6fc, #48c9fc, #66bbf6, #5ca8dc, #5295c3, #4982aa, #2b647c, #1c4751, #132a2c, #020d0c);*/
}
#Mobile_edge div div #Mobile__top{
    width: 100%;
    border-radius: 35px 35px 0px 0px;                              /* Mobile Top */
    height: 5%;
    background-image: linear-gradient(to right top, #5ef6f6, #47e5fc, #49d3fd, #5dbff7, #74abea, #6f9fd8, #6a93c6, #6588b5, #557f9c, #517583, #52686d, #555b5b);
    border: 0.1px solid rgb(243, 242, 242);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10%;
    /*margin-top: 0.08%;*/
}
#Mobile_edge div div #Mobile__head{
    width: 100%;                                                    /* Mobile Head */
    border-radius: 0%;
    height: 10%;
    background-image: linear-gradient(to right bottom, #5ef6f6, #47e5fc, #49d3fd, #5dbff7, #74abea, #6f9fd8, #6a93c6, #6588b5, #557f9c, #517583, #52686d, #555b5b);
    border: 0.1px solid rgb(243, 242, 242);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 3%;
}
#Mobile_edge div div #Mobile__body{
    width: 100%;                                                    /* Mobile Body */
    border-radius: 0%;
    height: 75%;
    background-image: linear-gradient(to top, #f0f9f9, #f0f9fa, #f1f8fa, #f2f8fa, #f3f7fa, #f2f6f9, #f2f6f9, #f1f5f8, #eff4f7, #ecf4f5, #ebf3f3, #e9f2f1);
    border: 0.1px solid rgb(243, 242, 242);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#Mobile_edge div div #Mobile__bottom{
    width: 100%;                                                    /* Mobile Bottom */
    border-radius: 0px 0px 30px 30px;
    height: 10%;
    background-image: radial-gradient(circle, #5ef6f6, #47e5fc, #49d3fd, #5dbff7, #74abea, #6f9fd8, #6a93c6, #6588b5, #557f9c, #517583, #52686d, #555b5b);
    border: 0.1px solid rgb(243, 242, 242);
}







#Mobile_edge div div #Mobile__top img{
    height: 60% ;                                                  /* Mobile Top *       */ 
}










#Mobile_edge div div #Mobile__head img {
    height: 80%;                                                  /* Mobile Head *       */
    border: 0.1px solid rgb(126, 124, 124);
    border-radius: 50%;
}
#Mobile_edge div div #Mobile__head div{
    align-items: center;
    border: 0;
    background: none;
    width: 15%;
    height: 70%;
    border-radius: 0%;
    position: relative;
    right: 30%;
}
#Mobile_edge div div #Mobile__head p{
    color: rgb(235, 230, 230);
    font-size: 1em;
    text-align: center;
}






#Mobile_edge div div #Mobile__body form{                         /* Mobile Body *       */
    /*border: 1px solid black;*/
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 3%;
}
#Mobile_edge div div #Mobile__body div{
    align-self: flex-start;
    border-radius: 10px;
    height: 20%;
    width: 65%;
    border: 0;
    background: none;
}
#Mobile_edge div div #Mobile__body div input{
    height: 80%;
    width: 90%;
    font-size: 1em;
}
textarea{
    resize: none;
    font-size: 1em;
    width: 90%;
    padding: 5% 5%;
}

